@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
:root{
    --soft_blue:hsl(215,51%,70%);
    --cyan: hsl(178,100%,50%);
    --white:hsl(0,0%,100%);
}
body{
    margin:0;
    padding:0;
    
    background: hsl(217,54%,11%);
}
p{
    font-size:18px;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
.card{
    width:350px;
    height:600px;
    background:hsl(216,50%,16%);
    margin-bottom:50px;
    border-radius:10px;
    box-shadow: 10px 20px 30px rgba(0,0,0,0.2), -10px 20px 30px rgba(0,0,0,0.2);
}
.card-content{
    width:100%;
    box-sizing:border-box;
    padding:25px;
}
.card-content img{
    width:100%;
    border-radius:10px;
}
.card-description{
    width:100%;
}
.card-name{
    color:var(--white);
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
}
.card-small-discription{
    width:100%;
    color:var(--soft_blue);
    font-weight: 300;
    font-size:18px;
    font-family:'Outfit',sans-serif;
}
.balance-ammount{
    color:var(--cyan);
    text-transform: uppercase;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    text-align: left;
    font-size:15px;
}
.card-balance{
    display:flex;
    justify-content: space-between;
    padding-bottom:10px;
    border-bottom:1px solid hsl(215,32%,27%);
}
.card-balance-left-side, .card-balance-right-side{
    display:flex;
    align-items: center;
    gap:10px;
}
.timer{
    color:var(--soft_blue);
    font-size:15px;
}
.card-creator-info{
    display:flex;
    align-items: center;
    gap:5px;
    padding-top:10px;
}
.card-creator-info img{
    width:100%;
    height:25px;
    border:1px solid white;
    border-radius:50%;
}
.card-creator-info p:nth-child(2){
    padding-left:10px;
    color:var(--soft_blue);
    font-family:'Outfit',sans-serif;
    font-weight: 300;
    font-size:smaller;
    
}
.card-creator-info p:nth-child(3){
    font-family:'Outfit',sans-serif;
    font-weight: 300;
    color:var(--white);
    font-size:15px;
}
.card-content-img-div img{
    transition: opacity 2s;
}
/* IMG HOVERING ANIMATION */
.card-content-img-div{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    border-radius:10px;
}
.card-content-img-div svg{
    display:none;
    position:absolute;
}
.card-content-img-div:hover img,svg{
    cursor:pointer;
}
.card-content-img-div:hover img{
    opacity:0.5;
}
.card-content-img-div:hover svg{
    display:block;
    z-index:2;
}
.card-content-img-div:hover{
    background:var(--cyan);
}

